<div class="p-4">
  <h1 class="mb-4">About Slampacks</h1>
  
  <p class="bg-white p-4 rounded">
    <img src="<?php echo BASE_PATH.'files/default_images/logo.png' ?>" align="left" width="150px" class="img-fluid p-2">
    This is a digital trading card pack opening website where you can open custom packs containing a single card. That card is then sold to our site and you can then purchase the card or another card of equal or lesser value, and have it sent to you (some restrictions apply) or use the trade-in value of the card to open more packs, or both.

    <br>
    <br>
    When you click on a card it will show you the odds of pulling that card out of it's pack, as well as the option to purchase the card. When purchasing a pack the value of the card you pulled will be added to your account. The idea for this site is to give people a better chance at getting the cards they actually want to have. Available inventory may result in your purchase of a card being refunded as well as price fluctuations. 

  </p>

  

  <h2 class="pt-4">Terms</h2>
  <p class="bg-white p-3 mb-0">Our prices are higher than market value to try to buffer that from occurring. We also may use third-party sellers to get your cards shipped to you. </p>

  <div class="p-4 bg-light">
    <p>- We make every attempt to make sure the cards you receive are in near mint condition although some lower value cards may arrive in light played condition. </p>

    <p>- We retain the right to not offer a refund of a purchased card, but will do our best to make you satisfied with your order.

    <p>- We will not offer refunds for opening packs. </p>

    <p>- We are not responsible for any damage that occurs during shipping. </p>

    <p>- Only people 18 and over are allowed to use this site. </p>

    <p>- We will only ship within the US. Make sure you are complying with all gambling laws that apply in your area.</p>
    </div>
</div>
